<div style="max-width: 420px; padding: 10px 15px 30px 15px; margin: 0 auto; background-color: #D3D3D3; border-radius: 10px;">

  <h1>Editing Budget Item</h1>

  <%= render 'form' %>

  <%= link_to 'Back', budget_items_path %>

</div>