<!--........................................  FAQ     .......................................-->
<!--.........................................................................................-->


<div class="jumbotron">
  <div class="container">
    <div class="page-header ">
        <h1 class="text-center">FAQ</h1>
          <div class="well well-sm entete"></div>
    </div>       
        
    <div class="panel-group" id="accordion">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
    Is this really free?
            </a>
          </h4>
        </div>

      <div id="collapse1" class="panel-collapse collapse ">
        <div class="panel-body">
    Of course not. But you don't have to pay anything. <i class="fa fa-smile-o"></i>      
        </div>
      </div>
    </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
    Is there any support documentation?        
            </a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
    I'm working on documentation and how-to guides as time permits. Check back often for updates.       
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
    What is My Money OTG?        
            </a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
    My Money OTG (On The Go) is a cross-platform app you can use to manage your personal finances. It's an alternative to MS Money, YNAB, GNU Cash, KMyMoney, MoneyDance and other similar software. It's mobile friendly and there's nothing to install. I created it over the summer in 2015. Built with Ruby on Rails, JavaScript and Bootstrap.     
          </div>
        </div>
      </div>



    </div>      
  </div>
</div>