<%= link_to 'Back', account_transactions_path(:account_id => @account.id) %><br>
<label>Uploaded documents:</label>
<ul>
<% @transaction.documents.each do |document| %>
  <li><%= link_to document.url, document.url %></li>
<% end %>
</ul>

<%= link_to "Upload new document", edit_account_transaction_path(@account, @transaction, redirect_to: account_transaction_documents_path(@account, @transaction)) %>

