// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* using on home page in favorites, will likely use this and remove .panel-accounts y-axis scroll */
.fixed-panel-budget-watch {
  height: 270px;
  width: 99.9%;
  overflow-y: auto;
}

/* test */
table.my-table-body-test {
  width: 100%;
}
table.my-table-body-test tbody,
table.my-table-body-test thead { display: block; }

table.my-table-body-test thead tr th {
  text-align: left;
  width: 48%;
}

table.my-table-body-test tbody { 
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

table.my-table-body-test tbody td { width: 20%; }
/*table.my-table-body-test thead th { width: auto; }*/







/* table body scroll with fixed header */
table.scroll-table-body {
    width: 100%;
    height: 220px;
}

table.scroll-table-body th,
table.scroll-table-body td,
table.scroll-table-body tr,
table.scroll-table-body thead,
table.scroll-table-body tbody { display: block; }

table.scroll-table-body thead tr {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
}

table.scroll-table-body tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

table.scroll-table-body tbody {
    height: 165px;
    overflow-y: auto;
    width: auto !important;
    overflow-x: hidden !important;
}

table.scroll-table-body tbody td,
table.scroll-table-body thead th {
    width: 32%;
    float: left;

}




/* remove after layout change */
.panel-accounts {
  height: 180px;

  .panel-body {
    height: 140px;
    overflow: auto;
  }
}