// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-accounts {
  height: 180px;

  .panel-body {
    height: 140px;
    overflow: auto;
  }
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #FF0000;
}