/* 
  *= require_self
    //for custom css require dataTables/jquery.dataTables
  *= require dataTables/jquery.dataTables 
  *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
  *= require main
*/

.navbar {
  margin-bottom: 0px !important;
}

.session-info {
  text-align: right;
  padding-right: 15px;
  font-style: italic;
}

.user-welcome {
  color: gray;
}