// Place custom css that apply to whole site here.

/* ================================================================= */
/* Site Naviation */
/* ================================================================= */
.navbar {
  border-radius: 0px !important;
  background-color: #006633 !important;
  margin-bottom: 0px !important;
}

/* change nav hover color */
.navbar-default .navbar-nav > li > a:hover {
  color: #006633 !important;
  background-color: #000 !important;
}

/* change nav bar focus color */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #006633 !important;
  background-color: #000 !important;
}

/* change navbar brand focus color */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  font-weight: bold !important;
  /*font-style: italic !important;*/
}



/* navbar */
.navbar-default {
    background-color: #006633;
    border-color: #006633;
}
/* title */
.navbar-default .navbar-brand {
    color: #000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #006633;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}




/* mobile version */
/*.navbar-default .navbar-toggle {
    border-color: #000 !important;
    color: #006633 !important;
}*/

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #000 !important;
    color: #FFF !important;
}
.navbar-default .navbar-toggle .icon-bar {
    /*background-color: #000;*/
}
.navbar-default .navbar-toggle .icon-bar:focus {
    background-color: #FFF;
}


@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
/* ================================================================= */


/* Admin panels */
.panel > .admin-panel-heading {
  background-color: red; 
  color: black; 
  font-weight: bold;
}

.admin-panel-body {
  border: 3px solid; 
  border-color: red;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.huge {
  font-size: 40px; 
  color: red;
}

.admin-header {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #000;
  font-style: bold;
  font-size: 20px;

  padding: 5px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.admin-body {
  padding: 0px 10px 0px 10px;
  text-align: right;
}


/* change table hover color */
.table-hover tbody tr:hover td {
  background-color: #000;
  color: #9d9d9d;
}

.table-hover tbody tr:hover td a {
  color: #9d9d9d;
}

/* change link color in panel header */
.panel-primary .panel-heading a {
  color: #000;
}
.panel-primary .panel-heading a:hover {
  color: #000;
}

/* color in panel header */
.panel-primary .panel-heading {
  color: #FFF;
}

/* progress bar background */
.progress {
  background: #9d9d9d;
}
/* show overflow text */
/*.progress span {
    display: block;
    width: 150%;
    color: black;
 }*/


.btn-default:hover {
/*  background-color: #000 !important;*/
  color: #006633 !important;
}
.btn-default:focus {
/*  background-color: #000 !important;*/
  color: #006633 !important;
}
.btn-default {
  background-color: #000 !important;
  border-color: #000 !important;
  color: gray;
}