// Place custom css that apply to whole site here.

/* change table hover color */
.table-hover tbody tr:hover td {
  background-color: #000;
  color: #FFF;
}

.table-hover tbody tr:hover td a {
  color: #FFF;
}

/* change link color in panel header */
.panel-primary .panel-heading a {
  color: #FFF;
}

.panel-primary .panel-heading a:hover {
  color: #000;
}

.panel-primary .panel-heading {
  color: #FFF;
}