<% if @transaction.errors.any? %>
  <div class="alert alert-warning">
    <strong>Error!</strong><span> Click transaction type to see errors.</span>
  </div>
<% end %>

<% if @account.class.superclass.name == "Liability" %>

  <div class="container-fluid">

    <div class="row">
      <a class="btn btn-primary" id="liability-charge" role="button">Charge</a>
      <a class="btn btn-primary" id="liability-payment" role="button">Payment</a>
    </div>

    <div class="row">
      <div id="form" style="display:none;"></div>
    </div>

  </div>

<% else %><!-- Assets -->

  <div class="container-fluid">
    <div class="row">
      <a class="btn btn-primary" id="deposit" role="button">Deposit</a>
      <a class="btn btn-primary" id="withdrawal" role="button">Withdrawal</a>
      <a class="btn btn-primary" id="transfer" role="button">Transfer</a>
      <a class="btn btn-primary" id="payment" role="button">Payment</a>
    </div>

    <div class="row">
      <div id="form" style="display:none;"></div>
    </div>
  </div>

<% end %>






<!-- TEST -->

<script>
$('#liability-charge').click(function() {
  $('#form').html("<%= j (render 'liability_deposit') %>");
  $('#form').slideDown(350);
});

$('#liability-payment').click(function() {
  $('#form').html("<%= j (render 'liability_withdrawal') %>");
  $('#form').slideDown(350);
});
</script>