
<div class="form-group" id="transaction-type">
  <label>Transaction Type</label>
  <select class='form-control'>
      <option value="" disabled selected>Please Select</option>
      <option value="Charge">Charge</option>
      <option value="Payment">Payment</option>
  </select>
</div>

<div id="transaction-form-by-type" style="display:none;"></div>






<!-- TEST -->
<script>

jQuery(function(){

  $("#transaction-type").change(function() {
    var selected_item = $( "#transaction-type option:selected" ).text();

      switch (selected_item) {
        case 'Charge':
          $('#transaction-form-by-type').html("<%= j render 'mortgage_deposit' %>");
          $('#transaction-form-by-type').slideDown(350);
          break;
        case 'Payment':
          $('#transaction-form-by-type').html("<%= j render 'mortgage_withdrawal' %>");
          $('#transaction-form-by-type').slideDown(350);
          break;
        default:
          $('#transaction-form-by-type').html("<br>" + "Contact support, an error has occurred");
          $('#transaction-form-by-type').slideDown(350);
      }

  });

});

</script>