<div class="container-fluid">

  <div class="row">
    <a class="btn btn-primary" id="charge" role="button">Charge</a>
    <a class="btn btn-primary" id="payment" role="button">Payment</a>
  </div>

  <div class="row">
    <div id="form" style="display:none;"></div>
  </div>

</div>





<!-- TEST -->
<script>
$('#charge').click(function() {
  $('#form').html("<%= j (render 'mortgage_deposit') %>");
  $('#form').slideDown(350);
});

$('#payment').click(function() {
  $('#form').html("<%= j (render 'mortgage_withdrawal') %>");
  $('#form').slideDown(350);
});
</script>