<h1>Editing Transaction</h1>

<%# begin %> 
<!-- Will render partials created with account name..like _transactions.html.erb -->
  <%= render "edit_transactions_#{@account.type.underscore}", transactions: @transactions %>
<%# rescue %>
<!-- Default condition when partial doesn't exist -->
  <%#= render 'form' %>
<%# end %>

<%= link_to 'Show', account_transaction_path(:account_id => @account.id, :id => @transaction.id) %> |
<%= link_to 'Back', account_transactions_path(:account_id => @account.id) %>

