<p id="notice"><%= notice %></p>
<%= link_to 'New Transaction', new_account_transaction_path(account_id: params[:account_id]) %>

<% begin %> 
<!-- Will render partials created with account name..like _transactions.html.erb -->
  <%= render "transactions_for_#{@account.type.underscore}", transactions: @transactions %>
<% rescue %>
<!-- Default condition when partial doesn't exist -->
  <%= render "transactions", transactions: @transactions %>
<% end %>

<br>

<script>
  $(document).ready(function() {
    $('#transactions').dataTable();
  } );
</script>