<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">User Settings</div>
      <div class="panel-body">

        <p>
          <%= link_to 'Edit Account', edit_user_registration_path, class: "btn btn-primary" %>
        </p>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Reports</div>
      <div class="panel-body">

        <p>
        will have reports and search options...<br>
          <%= link_to 'Financial Summary', financial_summary_path, class: "btn btn-primary" %>
        </p>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Other Tools</div>
      <div class="panel-body">

      <p>
        <%= link_to 'Budget', budget_show_all_path, class: "btn btn-primary" %>
        <%= link_to 'Categories', categories_path, class: "btn btn-primary" %>
      </p>

      </div>
    </div>
  </div>
</div>

